* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
/* slider section  */

.wrapper {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3em;
  position: relative;
}
/* section 1  */
.parent-content p {
  font-size: 10vw;
  font-weight: 900;
}
.content-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}
.img img {
  position: absolute;
  left: 40%;
  top: 20%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
}
/* section Two  */
div.section:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(2)
  > img:nth-child(1) {
  position: absolute;
  left: 50px;
  top: 35%;
  transform: translateY(-30%) rotate(45deg);
}
.content-text-2 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 100%;
  transform: translate(-70%, -50%);
}

/* //section 3 */
.content-text-3 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}
.img .tire3 {
  position: absolute;
  left: 40%;
  top: 20%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
}

.bg-green > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) {
  font-size: 9vw;
  width: 100%;
}

.svg-content {
  height: 300px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 62%;
  background-color: rgb(145, 134, 134);
}
