* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  background: #eee;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

/* parent sections  */

.section-parent {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.first-section {
  scroll-snap-align: start;
}

/* start animate section */
.passenger-animate {
  max-width: 100%;
}
.passenger-animate h1 {
  font-weight: 900;
  font-size: 10vw;
  position: absolute;
  color: #000000;
}
.span-change-color {
  color: #ed1c24;
}
.passenger-svg-content {
  display: flex;
  justify-content: center;
  position: relative;
}
.svg-curve-line {
  position: relative;
  top: 23%;
  right: 20px;
}
.tire-one-image {
  max-width: 60vw;
  text-align: center;
}
.tire-section-one {
  line-height: 1;
}
.tire-one-image img {
  position: relative;
  max-width: 60%;
  transform: rotate(45deg);
  height: 400px;
}

.svg-line-desk {
  position: relative;
  top: 25%;
  right: 1%;
}

/* //section Three Headgin  */
section.passenger-animate:nth-child(4) > div:nth-child(1) > h1:nth-child(1) {
  font-size: 8vw;
}

/* section two  */
.passenger-animate-two > div:nth-child(1) > div:nth-child(1) {
  width: 100vw;
}
.passenger-svg-content-two {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
}

.para > h1:nth-child(1) {
  font-size: 12vw;
  font-weight: 900;
  color: #000000;
}

.image-two img {
  max-width: 70%;
  transform: rotate(45deg);
}
.passenger-svg-content-two > svg:nth-child(1) {
  margin: 21px 25px 0px;
}
.tire-section-two {
  line-height: 1;
}

/* Section Three */
.tire-three-image img {
  position: relative;
  max-width: 60%;
  transform: rotate(45deg);
  height: 400px;
}
.tire-three-image {
  max-width: 60%;
  text-align: center;
}

/* responsive  */

@media screen and (max-width: 768px) {
  .passenger-svg-content {
    flex-direction: column-reverse;
    align-items: center;
    left: 0%;
    position: relative;
  }
  .svg-curve-line {
    display: none;
  }
  .second-svg {
    display: block;
    margin-right: 5%;
  }
  .tire-section-one {
    margin: auto;
    text-align: center;
  }
  .tire-p {
    font-size: 15px;
    line-height: 15px;
    color: black;
  }
}
@media screen and(max-width:497px) {
  .section.passenger-animate:nth-child(2) > div:nth-child(1) > h1:nth-child(1) {
    font-size: 8vw;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .tire-one-image img,
  .tire-three-image img {
    width: 80vw;
    left: 10%;
    bottom: 20px;
    margin-bottom: 20%;
  }
}

/* section Two  */
@media screen and (max-width: 768px) {
  .tire-section-two {
    position: relative;
    top: 80px;
    left: 50px;
  }
  .passenger-svg-content-two > svg:nth-child(2) {
    display: block;
  }
  .tire-section-two {
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 1.5;
  }
  .image-two img {
    width: 90%;
  }
}

/* Section Three  */
@media screen and (min-width: 425px) and (max-width: 768px) {
  div.tire-three-image:nth-child(3) > img:nth-child(1) {
    width: 40vw;
    left: 10%;
    bottom: 20px;
  }
  div.passenger-svg-content:nth-child(2) > div:nth-child(3) {
    position: relative;
    bottom: 50px;
  }
}

/* sections  */
section {
  width: 100%;
  height: 100vh;
}
